{% extends 'layout.html' %}

{% block content %}
    <section id="gallery-section">
        <div class="btn-container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add Hobby</button>
        </div>
        <div id="gallery-container" class="col-md-10">
            {% if hobbies %}
                {% for hobby in hobbies %}
                    <div class="image-xl">
                        <img src="media/{{ hobby.image_path }}" class="gallery-image" alt="{{ hobby }}"/>
                        <div class="gallery-text">{{ hobby.name }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <!-- Form Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Hobby</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="hobbyForm" action="{% url 'store_hobby' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="hobbyName">Hobby Name</label>
                            <input type="text" class="form-control" id="hobbyName" name="name"
                                   placeholder="Enter the hobby name">
                        </div>
                        <div class="form-group">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm float-left">
                                    <span>Choose file</span>
                                    <input type="file" name="image_path">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload image">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="hobbySubmit" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(() => {
            $('#hobbySubmit').on('click', () => {
                $('#hobbyForm').submit();
            });
        });
    </script>
{% endblock %}